$primary: #507d80;
$secondary: #9c6c6a;

$embed-responsive-aspect-ratios: () !default;

$font-base: 'Source Sans Pro', sans-serif;
$font-size-base: 1.2rem;

$enable-caret: true;
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: false;
$enable-responsive-font-sizes: false;
$enable-validation-icons: true;
$enable-deprecation-messages: false;
